@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu";
    overflow: hidden;
}

::selection {
    background-color: orangered;
    color: white;
}

select {
    outline: none;
    border: none;
    border-bottom: 2px solid orangered;
}

option {
    outline: none;
    border: none;
    background-color: white;
}

option:hover {
    background-color: orangered;
}

.header {
    width: 100vw;
    padding: 24px 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.header div:first-child {
    backdrop-filter: blur(1px);
    border-bottom: 4px solid rgb(255, 69, 0);
    font-size: 32px;
}

.header div + div {
    display: flex;
    gap: 22px;
}

.header div + div a {
    color: black;
    text-decoration: none;
    border-bottom: 4px solid white;
    font-size: 24px;
    transition: 0.3s ease;
}

.header div + div a:hover {
    border-bottom: 4px solid black;
}

.intro {
    padding-top: 85px;
    display: flex;
}

.intro div {
    width: 100vw;
    padding-left: 62px;
    border-bottom: 1px solid black;
    display: flex;
}

.intro div p {
    width: 55vw;
    padding-right: 24px;
    padding-bottom: 24px;
    border-right: 1px solid black;
    line-height: 32px;
    font-size: 22px;
    animation: fadein 0.3s linear;
}

.blob1 {
    width: 600px !important;
    height: 200px;
    padding: 0;
    background-color: orangered;
    border: none !important;
    z-index: -1;
    animation: fadein 0.3s linear, enterleft 0.3s linear;
}

.blob2 {
    width: 400px !important;
    height: 100vh;
    padding: 0;
    background-color: orangered;
    z-index: -1;
    animation: fadein 0.3s linear, entertop 0.3s linear;
}

.projects {
    padding: 0 62px;
    padding-top: 85px;
    border-bottom: 1px solid black;
    animation: fadein 0.3s linear;
}

#project-list {
    margin-top: 32px;
    margin-bottom: 22px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 22px;
    animation: enterleft 0.3s linear;
}

.project {
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project a,
.project a:visited {
    color: black;
    text-decoration: none;
}

.project div {
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project div + div {
    height: 50px;
    border-bottom: none;
}

.project div + div p {
    border-bottom: 3px solid white;
    transition: 0.3s ease;
}

.project:hover div + div p {
    border-bottom: 3px solid orangered;
}

@keyframes fadein {
    from {
        color: white;
        opacity: 0;
    }
    to {
        color: black;
        opacity: 1;
    }
}

@keyframes enterleft {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes entertop {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0px);
    }
}
