@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu";
    overflow-x: hidden;
}

::selection {
    background-color: orangered;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

select {
    outline: none;
    border: none;
    border-bottom: 2px solid orangered;
}

option {
    outline: none;
    border: none;
    background-color: white;
}

option:hover {
    background-color: orangered;
}

.header {
    width: 100vw;
    padding: 24px 62px;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header div:first-child {
    border-bottom: 4px solid rgb(255, 69, 0);
    font-size: 32px;
}

.header div + div {
    display: flex;
    gap: 22px;
}

.header div + div a {
    color: black;
    text-decoration: none;
    border-bottom: 4px solid white;
    font-size: 24px;
    transition: 0.3s ease;
}

.header div + div a:hover {
    border-bottom: 4px solid black;
}

.intro {
    width: 100vw;
    margin-top: 85px;
}

.intro h1 {
    font-size: 52px;
}

.intro h2 {
    color: orangered;
}

.intro > div {
    border-bottom: 1px solid black;
    display: flex;
}

.intro .bg-image {
    background-color: orangered;
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
}

.intro-text {
    padding: 72px;
}

.intro-text p {
    font-size: 24px;
}

.blob {
    width: 400px;
    height: 100vh;
    padding: 0;
    background-color: orangered;
    border-right: 1px solid black;
    display: flex;
    align-items: stretch;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    animation: fadein 0.3s linear, entertop 0.3s linear;
}

.projects,
.education {
    background-color: white;
    border-bottom: 1px solid black;
}

.projects {
    padding: 0 62px;
    padding-top: 120px;
}

.education {
    padding-top: 89.33px;
}

#project-list,
#course-list {
    margin: 22px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    animation: enterleft 0.5s linear;
}

#project-list {
    align-items: center;
    justify-content: center;
}

.project {
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    animation: fadein 0.3s linear;
}

.project a,
.project a:visited {
    color: black;
    text-decoration: none;
}

.project div {
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project div:first-child,
.course div:first-child {
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
}

.project div + div {
    height: 50px;
    border-bottom: none;
}

.project div + div p {
    border-bottom: 3px solid white;
    transition: 0.3s ease;
}

.project:hover div + div p {
    border-bottom: 3px solid orangered;
}

#course-list > div,
#course-list > div > div {
    display: flex;
}

#course-list > div > div:first-child {
    padding-left: 22px;
}

#course-list > div > div {
    gap: 22px;
    animation: slideleft 40s linear infinite;
}

#course-list p {
    white-space: pre;
}

.course {
    border: 1px solid black;
    display: flex;
}

.course div:first-child {
    width: 100px;
    border-right: 1px solid black;
}

.course div {
    padding: 16px 18px;
}

.live::after {
    content: "live";
    width: 50px;
    height: 20px;
    color: orangered;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.fadein {
    animation: fadein 0.3s linear;
}

@keyframes fadein {
    from {
        color: white;
        opacity: 0;
    }
    to {
        color: black;
        opacity: 1;
    }
}

.enterleft {
    animation: enterleft 0.3s linear;
}

@keyframes enterleft {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateX(0px);
    }
}

.entertop {
    animation: entertop 0.3s linear;
}

@keyframes entertop {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slideleft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
